@import url("Components/components.css");
@import url("Components/alert.css");
@import url("Components/avatar.css");
@import url("Components/badge.css");
@import url("Components/buttons.css");
@import url("Components/cards.css");
@import url("Components/Inputs.css");
@import url("Components/Image.css");
@import url("Components/navigation.css");
@import url("Components/snackbar.css");
@import url("Components/rating.css");
@import url("Components/slider.css");
@import url("Components/modal.css");
@import url("Components/list.css");
@import url("Components/typography.css");
@import url("Components/grid.css");
@import url("docs-css/docs-codeDisplay.css");
@import url("docs-css/docs-nav.css");
@import url("docs-css/docs-sidebar.css");
@import url("docs-css/docs-footer.css");


* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 2em;
}

:root{
    --primary-color : #973a99;
    --secondary-color : #faf8f8; 
    --box-shadow : 1px 1px 10px 1px #3b3f4266;

    --text-color1: #3a3939;
    --text-color2 : #535252;

    /*Media query variables*/
    --sidebar-bg : #e6e6e6;
    --float-btn-mobile-screen : #f01b0c;


}

/**/
.list-style-none{
    list-style: none;
}

.inline-list{
    display: flex;
}
.fixed-position{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
}
/**/

.grid-container-pagelayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


/*-----------Media-Query-------------*/

@media screen and (max-width:1024px) {

    body {
        overflow-x: hidden;
    }

    .grid-container-pagelayout{
        display: grid;
        grid-template-columns: 100%;   
    }

    .nav-bar{
        padding: 2rem 3rem 2rem 3rem; 
        position: fixed;
        top: 0;
        z-index: 4;
    }

    .sidebar{
        grid-column: 1/-1;
        height: fit-content;
        padding: 0;
        z-index: 4; /* To avoid overlapping of main component on the sidebar-opening-button div */
    }

    .main{
        grid-column: 1/-1;
    }

    /*Sidebar styling*/

    .sidebar-small-screen{
        padding: 1rem 2rem;
        display: flex;
        background-color: var(--sidebar-bg);
        position: fixed;
        top: 4rem;
        left: 0;
        right: 0;
    }

    .sidebar-small-screen-open { 
        top: 1rem;
    }

    .sidebar-ul {
        margin-top: 2.5rem;
        gap: 1.5rem;
    }

    .sidebar-display{
        display: none;
    }

    .header-hide{
        display: none;
    }

    .sidebar-title{
        font-size: large;
        flex: 1;
        padding-left: 1rem;
    }

    .sidebar-arrow{
        background: transparent;
        border: transparent;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .sidebar-active{
        display: block;
        align-items: center;
        background-color:  var(--sidebar-bg);
        overflow-y: hidden;
        height: 100vh;
    }

    .sidebar-arrow-rotate{
        transform: rotate(180deg);
    }


    /*--------End of side bar---------*/

    .main-hide{
        display: none;
    }

    .component {
        margin-top: 5rem;
    }

    .footer-hide{
        display: none;
    }

    .floating-btn-small-screen{
        color: var(--float-btn-mobile-screen);
    }

    /*--------Toast component ---------*/
    .toast-right {
        position: fixed;
        top: 6rem;
        right: 0;
        z-index: 3;
      }
      
      .toast-left {
        position: fixed;
        top: 6rem;
        left: 0;
        z-index: 3;
      }

    /*--------Modal component ---------*/
      .modal {
          width: fit-content;
      }
}