@import url("/Components/alert.css");
@import url("Components/components.css");
@import url("Components/alert.css");
@import url("Components/avatar.css");
@import url("Components/badge.css");
@import url("Components/buttons.css");
@import url("Components/cards.css");
@import url("Components/Inputs.css");
@import url("Components/Image.css");
@import url("Components/navigation.css");
@import url("Components/snackbar.css");
@import url("docs-css/docs-codeDisplay.css");
@import url("docs-css/docs-nav.css");
@import url("docs-css/docs-sidebar.css");
@import url("docs-css/docs-footer.css");

* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --primary-color : #973a99;
    --secondary-color : #faf8f8; 
    --box-shadow : 1px 1px 10px 1px #3b3f4266;

    --text-color1: #3a3939;
    --text-color2 : #535252;
}

/**/
.list-style-none{
    list-style: none;
}

.inline-list{
    display: flex;
}
/**/

.grid-container-pagelayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-areas: 
                "header header header header header"
                "sidebar main main main main"
                "sidebar main main main main"
                "sidebar main main main main"
                "footer footer footer footer footer"; */
}