@import url("docs.css");
* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}
.home-page-grid-layout{
	display: grid;
	grid-template-columns: 50% 50%;
}
.footer-home{
	grid-row: 4/5;
}
.text-container,.home-image{
	margin: 5rem 3rem 3rem 3rem;
}
.installation-text,.home-snippet{
	margin: 0rem 5rem 3rem 3rem;
}

.text-container,.installation-text{
	grid-column: 1/2;
}
.home-image,.home-snippet{
	grid-column: 2/3;
	margin-bottom: 5rem;
}
.text-container h2,.installation-text h3{	
	color: var(--text-color1);
	font-size: xx-large;
	margin-bottom: 2rem;
}
.text-container p,.installation-text p{	
	color: var(--text-color2);
	font-size: x-large;
	margin-bottom: 2rem;
	line-height: 30px;
}
.installation-text p{
	font-size: large;
}
.home-image{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.hero-img{
	height: 80%;
	width: 100%;
}
.home-text-container-btn{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.btn-padding{
	display: flex;
	justify-content: center;
	align-items: center;
}
