:root{
    --alert-primary-bg : #65e5fc;
    --alert-primary-text : #0000ff;

    --alert-secondary-bg : #dfd9d9;
    --alert-secondary-text : #747171;

    --alert-success-bg : #baebba;
    --alert-success-text : #008000;

    --alert-danger-bg : #fab8b8;
    --alert-danger-text : #ff0000;

    --alert-warning-bg : #f8f8ba;
    --alert-warning-text : #858505;

}


.alert{
    margin: 1rem 0rem;
    padding: 1rem 1rem;
    border-radius: 4px;
}

.alert-primary{
    background-color: var(--alert-primary-bg);
    color: var(--alert-primary-text);
}

.alert-secondary{
    background-color: var(--alert-secondary-bg);
    color: var(--alert-secondary-text);
}

.alert-success{
    background-color: var(--alert-success-bg);
    color: var(--alert-success-text);
}

.alert-danger{
    background-color: var(--alert-danger-bg);
    color: var(--alert-danger-text);
}

.alert-warning{
    background-color: var(--alert-warning-bg);
    color: var(--alert-warning-text);
}