.img-round-xl{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-l{
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-m{
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-s{
    width: 4.375rem;
    height: 4.375rem;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-xs{
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: 50%;
}