.img-round-xl{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-l{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-m{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-s{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.img-round-xs{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}