:root{
    --status-online-color : yellowgreen;
    --status-away-color : yellow;
    --status-busy-color : red;
    --badge-blue-bg : blue;
    --badge-pink-bg : hotpink;
    --badge-red-bg : red;
    --badge-text-color : white;
}

/* Badge on avatar*/
.badge-on-avatar-xl{
    height: 200px;
    width: 200px;
    position: relative;
}

.badge-on-avatar-l{
    height: 150px;
    width: 150px;
    position: relative;
}

.badge-on-avatar-m{
    height: 100px;
    width: 100px;
    position: relative;
}

.badge-on-avatar-s{
    height: 70px;
    width: 70px;
    position: relative;
}

.badge-on-avatar-xs{
    height: 50px;
    width: 50px;
    position: relative;
}

.status{
    position: absolute;
    bottom: 2%;
    right: 10%;
}

.status-online{
    color: var(--status-online-color);
}

.status-busy{
    color: var(--status-busy-color);
}

.status-away{
    color: var(--status-away-color);
}

.imgb-round-xl{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.imgb-round-l{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.imgb-round-m{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.imgb-round-s{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.imgb-round-xs{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/*Badge with text and icons*/
.badge-with-text,.badge-with-icon{
    display: flex;
    position: relative;
    padding: 2rem;
}

.badge-component {
    display: flex; /*Used flex to center the number inside the badge component*/
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.text-small,.icon-small{
    font-size: small;
}

.text-large,.icon-large{
    font-size: large;
}

.icon-small,.icon-large{
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.badge-small{
    font-size: small;
    font-weight: bold;
    color: var(--badge-text-color);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 12px;
    right: 12px;
}

.badge-large{
    font-size: large;
    font-weight: bold;
    color: var(--badge-text-color);
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 6px;
    right: 5px;
}

.badge-icon-small{
    font-size: small;
    font-weight: bold;
    color: var(--badge-text-color);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
}

.badge-icon-large{
    font-size: large;
    font-weight: bold;
    color: var(--badge-text-color);
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
}

.blue-bg{
    background-color: var(--badge-blue-bg);
}

.hotpink-bg{
    background-color: var(--badge-pink-bg);
}

.red-bg{
    background-color: var(--badge-red-bg);
}