:root{
    --border-color: #b9b5b5;
    --box-content-bg-color: #faf8f8;
    --code-snippet-bg-color: #973a99;
    --code-snippet-copy-color: #f6ebff;
}

.component{
    display: flex;
    flex-direction: column;
}

.component-header{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

.component-header h1{
    color: var(--text-color1);
}

.component-header p{
    padding: 1rem 0rem;
}

.break-intra{
    background-color: var(--border-color);
    height: 0.05rem;
    width: 90%;
}

.break-inter{
    background-color: var(--border-color);
    height: 0.1rem;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    border: 1px solid var(--border-color);
}
.box h3{
    padding: 1rem 1rem;
    border-bottom: 0.5px solid var(--border-color);
}

.box-content-row{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--box-content-bg-color);
}
.box-content-column{
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--box-content-bg-color);
}

.code-snippet{
    background-color: var(--code-snippet-bg-color);
    position: relative;
    height: fit-content;
}
 
.code-snippet-iframe{
    width: 100%;
    height: 200px;
    border:0;
    transform: scale(1); 
    overflow:auto;
} 

/*Aatar customization*/
.avatar-image, .button-solid, .button-outline, .button-link, .action-container{
    margin: 2rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*Badge customization*/
.badge-text, .card-text-container{
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}