:root {
    --modal-background :#fad0fa;
}


.modal-container {
    margin: 2rem;
}

.modal, .modal-demo {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 38rem;
    height: 15rem;
    background-color: var(--modal-background);
    border-radius: 1rem;
    z-index: 2;
}

.modal-heading {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.modal-text {
    text-align: center;
}

.modal-btn-container {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.modal-btn {
    width: fit-content;
    padding: 0 1rem;
}

.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}

.show-modal {
    display: none;
}

/* Live demo */
.modal-center {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}

.modal-demo {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 50vw;
}
